reactscul/node_modules
/Next/node_modules
/2024-2025/Next/next-app/.idea
/2024-2025/React/reactscul/.idea
/2024-2025/React/o_and_x/.idea
/2024-2025/React/reactscul/node_modules/.bin
/2024-2025/React/reactscul/node_modules
/React/o_and_x/.idea
/2024-2025/React/reactscul/build
